{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "tabWidth": 3,
  "singleQuote": true,
  "printWidth": 180,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"]
}
